<!-- Validation failure messages -->

<% if @pool.errors.any? %>
  <% @pool.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Pool</h3>
      </div>
      <div class="panel-body">
        <form action="/create_pool" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for tournament_id -->
          <div class="form-group">
            <label for="tournament_id" class="col-sm-2 control-label">
              Tournament
            </label>
            <div class="col-sm-10">
               <%= select_tag(:tournament_id, options_from_collection_for_select(Tournament.order(name: :asc).all, :id, :name, @pool.tournament_id), :class => "form-control") %>

            </div>
          </div>

          <!-- Label and input for owner_id -->
          <div class="form-group">
            <label for="owner_id" class="col-sm-2 control-label">
              Owner
            </label>
            <div class="col-sm-10">
              <%= select_tag(:owner_id, options_from_collection_for_select(User.all, :id, :userid, @pool.owner_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @pool.name %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Pool
              </button>
              or
              <a href="/pools">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
